<br>

# Introdução

In [1]:
import os
import re
import time
import random
import tabula
import requests
import numpy as np
import pandas as pd
import geopandas as gpd
from bs4 import BeautifulSoup

<br>

# Relatório

<br>

## Municípios Nomes

Lê o arquivo csv com o nome dos municípios

In [2]:
# Dataframe
df_mun = pd.read_csv(
    'https://raw.githubusercontent.com/michelmetran/sp/main/data/tabs/tab_municipio_nome.csv',
    usecols=['id_municipio', 'municipio_nome']
)
df_mun.head(3)

   id_municipio municipio_nome
0       3500105     Adamantina
1       3500204         Adolfo
2       3500303          Aguaí

<br>

## Municípios IDs

In [3]:
# Dataframe
df = pd.read_csv(
    os.path.join('data', 'tabs', 'input', 'tab_municipio_ids.csv'),
    usecols=['id_municipio', 'id_gaema', 'id_redeprotetiva'],
)
display(df.head(3))

# Merge Municípios
df = pd.merge(
    df_mun,
    df,    
    how='left',
    left_on='id_municipio',
    right_on='id_municipio',
)

# Results
display(df.head(3))

   id_municipio  id_gaema  id_redeprotetiva
0       3500105       NaN              11.0
1       3500204       NaN              10.0
2       3500303       NaN              14.0

   id_municipio municipio_nome  id_gaema  id_redeprotetiva
0       3500105     Adamantina       NaN              11.0
1       3500204         Adolfo       NaN              10.0
2       3500303          Aguaí       NaN              14.0

<br>

## Município GAEMAs

In [4]:
# Dataframe GAEMAs
df_gaema = pd.read_csv(os.path.join('data', 'tabs', 'input', 'tab_gaema.csv'))
display(df_gaema.head(3))

# Merge GAEMAs
df = pd.merge(
    df,
    df_gaema,
    how='left',
    left_on='id_gaema',
    right_on='id_gaema',
)

# Results
display(df.head(3))

,id_gaema,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,gaema_complemento,gaema_bairro,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link
0,1,I,Núcleo Vale do Paraíba,Dr. Laerte Fernando Levai,4º PJ de São José dos Campos,Praça Melvin Jones,22,NaN,Jardim São Dimas,12245-360,São José dos Campos,(12) 3941-3292,gaemaps@mpsp.mp.br,http://www.mpsp.mp.br/portal/page/portal/cao_u...,"Ato Normativo nº 552/08-PGJ, de 04/09/08",http://biblioteca.mp.sp.gov.br/PHL_img/ATOS/55...
1,2,II,Núcleo Vale do Ribeira,Dr. Nilton de Oliveira Mello Neto,3º PJ de Registro,Avenida Clara Gianotti de Souza,102,Salas 106 e 108,Centro,11900-000,Registro,(13) 3821-2934 / 3821-4844,gaemavr@mpsp.mp.br,http://www.mpsp.mp.br/portal/page/portal/cao_u...,"Ato Normativo nº 552/08-PGJ, de 04/09/08",http://biblioteca.mp.sp.gov.br/PHL_img/ATOS/55...
2,3,III,Núcleo Baixada Santista,Dra. Flávia Maria Gonçalves,10ª PJ de São Vicente,Avenida Conselheiro Nébias,756,5º andar / conj. 505,Boqueirão,11013-300,Santos,(13) 3221-6257,gaemabs@mpsp.mp.br,http://www.mpsp.mp.br/portal/page/portal/cao_u...,"Ato Normativo nº 552/08-PGJ, de 04/09/08",http://biblioteca.mp.sp.gov.br/PHL_img/ATOS/55...

,id_municipio,municipio_nome,id_gaema,id_redeprotetiva,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,gaema_complemento,gaema_bairro,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link
0,3500105,Adamantina,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3500204,Adolfo,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3500303,Aguaí,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<br>

## Município Rede Protetiva

In [5]:
# Dataframe Rede Protetiva
df_redeprotetiva = pd.read_csv(os.path.join('data', 'tabs', 'input', 'tab_redeprotetiva.csv'))
display(df_redeprotetiva.head(3))

# Merge Rede Protetiva
df = pd.merge(
    df,
    df_redeprotetiva,
    how='left',
    left_on='id_redeprotetiva',
    right_on='id_redeprotetiva',
)

# Results
display(df.head(3))

   id_redeprotetiva rp_num         rp_nome              rp_ugrhi
0                 1      I     Mantiqueira     UGRHI Mantiqueira
1                 2     II  Sapucaí/Grande  UGRHI Sapucaí/Grande
2                 3    III  Tietê/Sorocaba  UGRHI Tietê/Sorocaba

,id_municipio,municipio_nome,id_gaema,id_redeprotetiva,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,...,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link,rp_num,rp_nome,rp_ugrhi
0,3500105,Adamantina,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XI,Aguapeí/Peixe,UGRHI Aguapeí/Peixe
1,3500204,Adolfo,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Baixo Tietê,UGRHI Baixo Tietê
2,3500303,Aguaí,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu

In [6]:
# Results
df.to_csv(
    os.path.join('data', 'tabs', 'output', 'tab_municipio_gaema_rp.csv'),
    index=False,
)
df.head()

,id_municipio,municipio_nome,id_gaema,id_redeprotetiva,num_gaema,gaema_nome,gaema_secretario,gaema_secretario_funcao,gaema_endereco,gaema_numero,...,gaema_cep,gaema_municipio,gaema_telefone,gaema_email,gaema_link,gaema_ato_criacao,gaema_ato_criacao_link,rp_num,rp_nome,rp_ugrhi
0,3500105,Adamantina,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XI,Aguapeí/Peixe,UGRHI Aguapeí/Peixe
1,3500204,Adolfo,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Baixo Tietê,UGRHI Baixo Tietê
2,3500303,Aguaí,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu
3,3500402,Águas da Prata,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu
4,3500501,Águas de Lindóia,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XIV,Alto Mogi,UGRHI Mogi-Guaçu

In [56]:
df['id_gaema'].isnull()


# Conversão do format=excel
mask = df['id_gaema'].notnull()
#df.loc[mask, 'DiaFull'] = pd.to_datetime(df[mask]['Dia'].apply(read_date), errors='coerce')

In [34]:
# Merge Municípios
df = pd.merge(
    df,
    df_mun,    
    how='right',
    left_on='loc_id',
    right_on='nome_id',    
)

# Adjusts
df['loc_id'] = df['NOME']
df['id_loc'] = df['id_municipio']
df.drop(['id_municipio', 'NOME', 'nome_id'], axis=1, inplace=True, errors='ignore')

# Renomeia colunas
df.rename(
    columns={
        'loc_id': 'municipio_nome',
        'id_loc': 'id_municipio',
    },
    inplace=True,
    errors='ignore',
)

# 
df = df[[
    'id_municipio',
    'municipio_nome',
    'pj_id',
    'ar_id',    
]].copy()

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_municipio.csv'),
    index=False,
)
df.head()

,id_municipio,municipio_nome,pj_id,ar_id
0,3500105,Adamantina,adamantina,presidente prudente
1,3500204,Adolfo,jose bonifacio,sao jose do rio preto
2,3500303,Aguaí,aguai,campinas
3,3500402,Águas da Prata,sao joao da boa vista,campinas
4,3500501,Águas de Lindóia,aguas de lindoia,campinas

## Área Regional

In [35]:
# AREA REGIONAL
df = pd.read_csv(os.path.join('data', 'tabs', 'tab_municipio.csv'))
df_ar = df[['id_municipio', 'municipio_nome', 'ar_id']].copy()

# Merge
df = pd.merge(
    df_ar,
    df_mun,    
    how='left',
    left_on='ar_id',
    right_on='nome_id',    
)

# Missing Values
dict_ar = {
    'capital': 1,
    'grande sao paulo': 2,
    'vale do ribeira': 3,
}
df_missing = pd.DataFrame(
    list(dict_ar.items()),
    columns=['ar_id','id_ar']
)

# Merge
df = pd.merge(
    df,
    df_missing,    
    how='left',
    left_on='ar_id',
    right_on='ar_id',    
)
df['id_municipio_y'] = df['id_municipio_y'].fillna(0)
df['id_ar'] = df['id_ar'].fillna(0)
df['id_ar'] = df['id_ar'] + df['id_municipio_y']
df['id_ar'] = df['id_ar'].astype(int)


# Renomeia colunas
df.rename(
    columns={
        'id_municipio_x': 'id_municipio',        
        'NOME': 'ar_nome',
    },
    inplace=True,
    errors='ignore'
)

# Deleta
df.drop(
    [
        'ar_id',
        'nome_id',
        'id_municipio_y',
    ],
    axis=1,
    inplace=True,
    errors='ignore'
)

# Missing Values
dict_ar = {
    1: 'Capital',
    2: 'Grande São Paulo',
    3: 'Vale do Ribeira',
}
df_missing = pd.DataFrame(
    list(dict_ar.items()),
    columns=['id_ar', 'NOME']
)
# Merge
df = pd.merge(
    df,
    df_missing,    
    how='left',
    left_on='id_ar',
    right_on='id_ar',    
)
df['ar_nome'] = df['ar_nome'].fillna('') + df['NOME'].fillna('')
df.drop(['NOME'], axis=1, inplace=True, errors='ignore')
df = df[['id_municipio', 'municipio_nome', 'id_ar', 'ar_nome']].copy()

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_municipio_ar.csv'),
    index=False,
)
display(df[44:48])

    id_municipio municipio_nome    id_ar                ar_nome
44       3503901          Arujá        2       Grande São Paulo
45       3503950        Aspásia  3549805  São José do Rio Preto
46       3504008          Assis  3541406    Presidente Prudente
47       3504107        Atibaia  3509502               Campinas

## Área Regional: Group

In [36]:
# Group
df = pd.DataFrame(df.groupby(['id_ar', 'ar_nome'], dropna=False)['id_municipio'].count())
df = df.reset_index()
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_ar.csv'),
    index=False,
)
df

      id_ar                ar_nome
0         1                Capital
1         2       Grande São Paulo
2         3        Vale do Ribeira
3   3502804              Araçatuba
4   3506003                  Bauru
5   3509502               Campinas
6   3516200                 Franca
7   3538709             Piracicaba
8   3541406    Presidente Prudente
9   3543402         Ribeirão Preto
10  3548500                 Santos
11  3549805  São José do Rio Preto
12  3552205               Sorocaba
13  3554102                Taubaté

## Promotorias de Justiça

In [37]:
def rename_nome(x):
    dict_rename = {
        'embu guacu': 'embu-guacu',
        'estrela doeste': "estrela d'oeste",
        'palmeira doeste': "palmeira d'oeste",
        'sao luiz do paraitinga': 'sao luis do paraitinga',
        'santa rosa do viterbo': 'santa rosa de viterbo',
    }
    for k, v in dict_rename.items():
        x = x.replace(k, v)    
    return x

In [38]:
# PRMOTORIAS DE JUSTIÇA
df = pd.read_csv(os.path.join('data', 'tabs', 'tab_municipio.csv'))
df_pj = df[['id_municipio', 'municipio_nome', 'pj_id']].copy()

df_pj.loc[:, 'pj_id'] = df_pj['pj_id'].astype(str).apply(lambda x: rename_nome(x))

# Merge
df = pd.merge(
    df_pj,
    df_mun,    
    how='left',
    left_on='pj_id',
    right_on='nome_id',    
)

#Renomeia colunas
df.rename(
    columns={
        'id_municipio_x': 'id_municipio',
        'id_municipio_y': 'id_pj',
        'NOME': 'pj_nome',
    },
    inplace=True,
    errors='ignore'
)

# Deleta
df.drop(
    ['pj_id', 'nome_id'],
    axis=1,
    inplace=True,
    errors='ignore'
)

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_municipio_pj.csv'),
    index=False,
)
df.head()

   id_municipio    municipio_nome    id_pj                pj_nome
0       3500105        Adamantina  3500105             Adamantina
1       3500204            Adolfo  3525706         José Bonifácio
2       3500303             Aguaí  3500303                  Aguaí
3       3500402    Águas da Prata  3549102  São João da Boa Vista
4       3500501  Águas de Lindóia  3500501       Águas de Lindóia

## Promotorias de Justiça: Group

In [39]:
# Group
df = pd.DataFrame(df.groupby(['id_pj', 'pj_nome'], dropna=False)['id_municipio'].count())
df = df.reset_index()
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_pj.csv'),
    index=False,
)
df

       id_pj           pj_nome
0    3500105        Adamantina
1    3500303             Aguaí
2    3500501  Águas de Lindóia
3    3500709            Agudos
4    3501004       Altinópolis
..       ...               ...
314  3556701           Vinhedo
315  3556800         Viradouro
316  3557006        Votorantim
317  3557105       Votuporanga
318  3557204         Chavantes

[319 rows x 2 columns]

# Áreas Regionais

In [40]:
# BS4
url = 'http://www.mpsp.mp.br/portal/page/portal/Promotorias_de_Justica'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')
soup = soup.find('map', {'name': 'image-mapa'})

# Create Empty Lists
list_ar = []
list_href = []

# Fill Lists
for i in list(soup.children):
    try:
        #print(i['title'])
        #print(i['href'])
        list_ar.append(str(i['title']))
        list_href.append(str(i['href']))
    except:
        pass

# Assign data to tuples.
list_df = list(zip(list_ar, list_href))

# Converting lists of tuples into
df = pd.DataFrame(list_df, columns = ['ar_nome', 'url'])

# Adjust URLs
prefix = 'http://www.mpsp.mp.br'
df['url'] = df['url'].apply(lambda x: x.replace(prefix, ''))
df['url'] = prefix + df['url']

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_ar_url.csv'),
    index=False,
)

# Promotorias de Justiça

https://docs.google.com/spreadsheets/d/1MuzCoK1uAf_gVqJ6Coi4a1KAEtnYT4Kzu6mTAhZlE_s/edit#gid=0

## Municípios com PJ

In [41]:
def get_mun_pj(url, ar):
    # BS4
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    soup = soup.find('map', {'name': 'FPMap0'})

    # Create Empty Lists
    list_ar = []
    list_href = []

    # Fill Lists
    for i in list(soup.children):
        try:
            #print(i['alt'])
            #print(i['href'])
            list_ar.append(str(i['alt']))
            list_href.append(str(i['href']))
        except:
            pass

    # Assign data to tuples.
    list_df = list(zip(list_ar, list_href))

    # Converting lists of tuples into
    df = pd.DataFrame(list_df, columns = ['pj', 'url'])

    # Adjust URLs
    prefix = 'http://www.mpsp.mp.br'
    df['url'] = df['url'].apply(lambda x: x.replace(prefix, ''))
    df['url'] = prefix + df['url']

    # Remove Broken Lines
    df['pj'] = df['pj'].apply(lambda x: x.replace('\r\n',''))
    df['url'] = df['url'].apply(lambda x: x.replace('\r\n',''))
    
    # Add Column
    df['municipio'] = df['pj']
    df['ar'] = ar
    df['tem_pj'] = 'Sim'

    # Drop Duplicates and Sort
    df = df.drop_duplicates()
    df = df.sort_values(by=['municipio'], ignore_index=True)

    return df

In [45]:
# Read AR dataframe
df = pd.read_csv(
    os.path.join('data', 'tabs', 'tab_ar_url.csv'),
)

# Create Empty dataframe
df_pj_final = pd.DataFrame()

# Loop to append data
for k, v in df.iterrows():
    url = v['url']
    ar = v['ar_nome']
    print(ar)
    try:
        df_pj = get_mun_pj(url, ar)
        df_pj_final = df_pj_final.append(df_pj)
    except:
        pass

# Results
df_pj_final.to_csv(
    os.path.join('data', 'tabs', 'tab_pjs_mun.csv'),
    index=False,
)

São José do Rio Preto
Araçatuba
Presidente Prudente
Bauru
Ribeirão Preto
Franca
Piracicaba
Campinas
Taubaté
Sorocaba
Grande São Paulo
Capital
Vale do Ribeira
Santos

## Municípios sem PJ

In [ ]:
def get_mun_small(url, ar):
    # BS4
    #url = 'http://www.mpsp.mp.br/portal/page/portal/Promotorias_de_Justica/regioes_adm/relacoes_regionais/rel_regionais_bauru/mapa_bauru'
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    soup = soup.find('div', {'class': 'cabecalho_regiao'})
    soup

    # Sobe dois tables
    soup = soup.find_parent('table')
    soup = soup.find_parent('table')

    # Vai pro proximo table
    soup = soup.find_next('table')
    soup = soup.find_next('table')

    # Table inside table
    soup = soup.find('table')

    data = []
    rows = soup.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        url = row.find('a').get('href')
        cols = [ele.text.strip() for ele in cols]
        cols.append(url)
        data.append([ele for ele in cols if ele])

    # Create DataFrame
    df = pd.DataFrame(
        data,
        columns=['municipio', 'pj', 'url']
    )

    # Adjust URLs
    prefix = 'http://www.mpsp.mp.br'
    df['url'] = df['url'].apply(lambda x: x.replace(prefix, ''))
    df['url'] = prefix + df['url']

    # Remove Broken Lines
    df['municipio'] = df['municipio'].apply(lambda x: x.replace('\r\n',''))
    df['pj'] = df['pj'].apply(lambda x: x.replace('\r\n',''))
    df['url'] = df['url'].apply(lambda x: x.replace('\r\n',''))

    # Adjust
    df['pj'] = df['pj'].apply(lambda x: x.replace('Promotoria de Justiça de ',''))
    df['ar'] = ar
    df['tem_pj'] = 'Não'

    # Drop Duplicates and Sort
    df = df.drop_duplicates()
    df = df.sort_values(by=['municipio'], ignore_index=True)

    # Results
    return df

In [43]:
# Read AR dataframe
df = pd.read_csv(
    os.path.join('data', 'tabs', 'tab_ar_url.csv'),
)

# Create Empty dataframe
df_pj_final = pd.DataFrame()

# Loop to append data
for k, v in df.iterrows():
    url = v['url']
    ar = v['ar_nome']
    print(ar)
    try:
        df_pj = get_mun_small(url, ar)
        df_pj_final = df_pj_final.append(df_pj)
    except:
        pass

# Results
df_pj_final.to_csv(
    os.path.join('data', 'tabs', 'tab_pjs_smallmun.csv'),
    index=False,
)

São José do Rio Preto
Araçatuba
Presidente Prudente
Bauru
Ribeirão Preto
Franca
Piracicaba
Campinas
Taubaté
Sorocaba
Grande São Paulo
Capital
Vale do Ribeira
Santos

## Merge

In [ ]:
# Results
file = os.path.join('data', 'tabs', 'tab_mun_small.csv')
df_mun_small = pd.read_csv(
    os.path.join('data', 'tabs', 'tab_mun_small.csv'),
)
#os.remove(file)

# Results
file = os.path.join('data', 'tabs', 'tab_mun_pjs.csv')
df_mun_pjs = pd.read_csv(
    file,
)
#os.remove(file)

# Append
df_mun_small = df_mun_small.append(df_mun_pjs)
df = df_mun_small

# Adjust
df = df.sort_values(by=['municipio', 'tem_pj'], ignore_index=True)
df.drop_duplicates(subset='municipio', keep='first', inplace=True)

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_pjs.csv'),
    index=False,
)

## Join Municípios

In [ ]:
# Lê o arquivo csv com o nome dos municípios
df_mun = pd.read_csv(
    'https://raw.githubusercontent.com/michelmetran/sp/main/data/tabs/tab_municipios.csv',
    usecols=['id_municipio', 'municipio_nome']
)

# Set Lower
df_mun['municipio_nome_lower'] = df_mun['municipio_nome'].str.lower()

# Remove Acentos
df_mun['municipio_nome_lower'] = df_mun['municipio_nome_lower'].apply(lambda x: remover_acentos(x))

In [ ]:
# Results
df = pd.read_csv(
    os.path.join('data', 'tabs', 'tab_pjs.csv'),
)

# Set Lower
df['municipio_nome_lower'] = df['municipio'].str.lower()

# Remove Acentos
df['municipio_nome_lower'] = df['municipio_nome_lower'].apply(lambda x: remover_acentos(x))

# Merge
df = pd.merge(
    df_mun,
    df,
    how='left',
    left_on='municipio_nome_lower',
    right_on='municipio_nome_lower'
)

# Results
df.to_csv(
    os.path.join('data', 'tabs', 'tab_pjs_merge.csv'),
    index=False,
)

# GAEMAs

In [ ]:
for row in soup.find_all('tr'):
    print(row.text)
    #print(row.find('td'))
    try:
        #print(row.get_atrribute('href'))
        pass
    except:
        pass

# Macroregiões

In [13]:
'http://www.mpsp.mp.br/portal/page/portal/noticias/noticia?id_noticia=19968257&id_grupo=118'

'http://www.mpsp.mp.br/portal/page/portal/noticias/noticia?id_noticia=19968257&id_grupo=118'